#box{
    background-color: yellow;}
.heading{
    color:blue;}
#button{
    background-color:black;
}
#entire{
    font-family:'Times New Roman', Times, serif;
}
#pre{
    font-family: 'Times New Roman', Times, serif;
}
