body{
    background-color: grey;
}
#hnw{
    margin-top: 50px;
    height: 100px;
    width:100px;
    border-radius: 50px;
    background-color: red;
}
#navbar{
    display:flex;
    align-items: center;
    gap:200px;  
}
#in{
   
    font-size:15px;
    margin-bottom: 25px;
    color:orange;
}
#acc{
    margin-bottom: 25px;
    font-size: 12px;
}
#cart{
   
    margin-bottom: 25px;
    font-size: 12px;

}
#us{
   
    margin-bottom: 25px;
    font-size: 12px;
}
#search{
  
    margin-bottom: 25px;
    font-size: 12px;
    display:flex;
}
#button{
    background-color: orange;
    color: white;
}
#whole{
    background-color: white;
    color:white;
    border: 2px solid black;
}
