#list{
    display:flex;
    list-style:none;
    justify-content: space-evenly;
}
#i6{
    background-color:antiquewhite;
}
#outer{
    display:flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:200px;
    background-color: red;
}
#inner{
    width:200px;
    height:200px;
    text-align: center;
    background-color: green;
}
