body{
    background-color: red;
}
#h1{
    color:blue;
}
@media(max-width:250px){
    div{
        background-color: brown;
    }
    
}
@media(min-width:400px) and (max-width:300px){
    div{
        background-color: green;
    }

}
@media(min-width:600px) and (max-width:400px){
    div{
        background-color: blue;
    }

}
@media(min-width:650px){
    div{
        background-color: red;
    }
}
